/* initial stuff */
@import "compass/css3/transition";
@import "compass/css3/transform";

@import "_variables";
@import "_normalize";

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #FFF;
  color: $text__color;
}

body {
  font-family: "Verdana", Arial, sans-serif;
  font-size: 14px;
  line-height: 145%;
  zoom: 1;
}

p, h1 {
  padding: 0;
  margin: 0;

  &.justify {
    text-align: justify;
    text-align-last: right;
    -moz-text-align-last: right;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $text__color;

  &:hover {
    color: $text__color--highlight;
  }
}

ul {
  padding: 0;
  list-style: none;
}

.highlight {
  color: $text__color--highlight;
}

.header, .main, .footer {
  margin: 0 auto;
  width: $main__width;
}

.header {
  position: relative;
  margin-top: $main__margin-top;

  @extend .main__section;
  @extend .main__section--align-left;

  &:before {
    content: '';
    position: absolute;
    border-right: $section__border;
    top: -($main__margin-top + $section__border-width);
    right: 0;
    height: $main__margin-top;
  }

  &__heading {
    @extend .section__heading;
  }

  &__content {
    @extend .section__content;
    display: flex;
    width: 100%;

    .no-flexbox & {
      display: table;
    }
  }

  &__list, &__figure {
    margin: 0;

    .no-flexbox & {
      display: table-cell;
      vertical-align: top;
    }
  }
}

.main {
  &__section {
    border-top: $section__border;

    &--align-right {
      border-right: $section__border;
      text-align: right;

      &.main__section--margin-1unit {
        &, & + .main__section {
          margin-right: $section__margin--unit;
        }
      }

      &.main__section--margin-2unit {
        &, & + .main__section {
          margin-right: $section__margin--unit * 2;
        }
      }
    }

    &--align-left {
      border-left: $section__border;
      text-align: left;

      &.main__section--margin-1unit {
        &, & + .main__section {
          margin-left: $section__margin--unit;
        }
      }

      &.main__section--margin-2unit {
        &, & + .main__section {
          margin-left: $section__margin--unit * 2;
        }
      }
    }
  }
}

.section {
  &__heading, &__content {
    padding: $section__padding;
  }

  &__heading {
    &--highlight {
      color: $text__color--highlight;
    }

    [data-state] & {
      cursor: pointer;
    }
  }

  &__content {
    padding-top: 0;

    [data-state='inactive'] & {
      display: none;
    }
  }
}

.footer {
  position: relative;
  margin-bottom: $main__margin-bottom;

  &:after {
    content: '';
    position: absolute;
    border-right: $section__border;
    bottom: -$main__margin-bottom;
    left: 0;
    height: $main__margin-bottom;
  }

  .footer__heading, .footer__content {
    @extend .main__section;
    @extend .main__section--margin-1unit;
    @extend .main__section--align-right;
    padding: $section__padding;
  }

  .footer__heading {
    margin-left: $section__margin--unit * 2;
  }

  .footer__content {
    border-top: none;
    border-bottom: $section__border;
    padding-top: 0;
  }
}

*[data-state=inactive] {
  display: none;
}

/* GEEN IDEE WAT DIT DOET */

#mti_wfs_colophon {
  display: none!important;
}

/* SLIDESHOW STUFF */

#slideshow {
  padding-right: 80px;
  box-sizing: content-box;
}

#gallery {
  position: relative;
  padding: 20px 0;
}

ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}

li.bjqs-slide {
  position: absolute;
  display: none;
  padding: 0 20px;
}

ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &.v-centered li {
    position: absolute;
    top: 0;
    line-height: 20px;

    &.bjqs-next { right: 20px; }
    &.bjqs-prev { left: 20px; }
  }
}

ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &.h-centered {
    text-align: center;
  }

  li {
    display: inline;

    a {
      display: inline-block;
    }
  }
}

p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0;
}